html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

.bigItem {
  grid-area: 2/2/4/4;
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
