html,
body {
  margin: 0;
  padding: 0;
  position:fixed;
}

.grid-container { 
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  width: 100vw;
  height:100vh;
}
  
  
  /* your properties here */


.grid-item {
  
  background-color: grey;
  border: 1px solid black; 
  height:95%;
  width:95%;
  justify-self:center;
  align-self:center;
}

.bigItem { 
  grid-area: 2/2/4/4;
  height: 50%;
  width:50%;
  justify-self: center;
  align-self:center;
}


